body{
    background-image: url("img/brown.jpg");
}

body:before{
    content: "Metamorphose";
    font-family: "McLaren", cursive;
    font-size: 60px;
    font-weight: 800;
}

body header{
    font-family: "Liu Jian Mao Cao", cursive;
    font-size: 25px;
    margin-top: 10px;
    color: #4b3b2e;
    margin-left: 10px;
}
p{
    font-family: "Liu Jian Mao Cao", cursive;
    font-size: 40px;
    color: #4b3b2e;
}
